@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/



body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  min-width: 1240px;
  padding: 0 20px;
}

/* Кнопка

.button {
  border: 1px solid black;
  border-radius: 4px;
  color: #ffffff;
  background-color: #504d4d71;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
}
*/

/* все списки без точек */

.navigation-list,
.advantages-list,
.advantages-facts-list,
.footer-social-list,
.hotels-list,
.breadcrumbs,
.pagination {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.main-index {
  text-align: center;
}

.welcome {
  background-image: url("../images/index-background_divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  /* так лучше видно текст welcome*/
  min-height: 485px;
  }

 .advantages-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title,
.advantages-facts-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-explanation,
.advantages-facts-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-list,
.advantages-facts-list {
  background-color:#ffffff;
}

.advantages-item,
.advantages-facts-item {
  color: #000000;

}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list > .with-photo {
  color: #ffffff;
  background-color:rgba(131, 179, 211, 1);
}

.advantages-facts-item:nth-child(2n+1) {
  background-color:rgba(131, 179, 211, 0.12)
}

.advantages-facts-item:nth-child(2n) {
  background-color:#ffffff;
}

.hotel-search {
  text-transform: uppercase;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-instruction {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-link {
  color: inherit;
  text-decoration: none;
}

.subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
    /* так лучше видно картинку*/
    min-height: 411px;
}

.footer-contacts {
  text-align: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

.hotels-catalog {
color:#ffffff;
background-color: #000000;
background-image: url("../images/catalog-background.jpg");
background-repeat: no-repeat;
background-size: 100% auto;

}

.hotels-title {
  font-size: 60px;
  line-height: 77px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-group {
  border: none;
}

.sorting-results {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.hotel-card-link {
  color: inherit;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 23px;

}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}

.hotels-on-page {
  font-size: 18px;
  line-height: 23px;
}

.subscribe-hotels {
  color: #000000;
  background-color: #ffffff;
}

