@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

Кнопка

.button {
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px auto;
}
*/
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  min-width: 1240px;
}

/* page header */
.navigation-list {
list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.main-index {
  text-align: center;
}

.welcome {
  background-image: url("../images/index-background_divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  /* так лучше видно текст welcome*/
  min-height: 486px;
  }

 .advantages-main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-explanation {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-list, .advantages-facts-list {
  list-style: none;
  background-color:#ffffff;
  /* padding:0; */
}
.advantages-item {
  color: #000000;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list > .with-photo {
  color: #ffffff;
  background-color:rgba(131, 179, 211, 1);
}

.advantages-facts-item:nth-child(2n+1) {
  color: #000000;
  background-color:rgba(131, 179, 211, 0.12)
}

.advantages-facts-item:nth-child(2n) {
  color: #000000;
  background-color:#ffffff;
}

.hotel-search {
  color: #000000;
  background-color: #ffffff;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-instruction {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-link {
  color: inherit;
  text-decoration: none;
}

.subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
    /* так лучше видно картинку*/
    min-height: 411px;
}

.footer-social-list {
  list-style: none;
}
.footer-contacts {
  text-align: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

