@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button-brown {
  background-color: #756257;
}

.button-light-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}

html {
  background-color:#f2f2f2;
  height: 100%;
  padding: 0 20px;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  margin: 0;
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.main-logo {
  display: flex;
  width: 139px;
  margin-right: 30px;
      /* лого накладывается на следующий блок 5пх */
  margin-bottom: -5px;
  z-index: 1;
}

.navigation-list {
  /* максимальная ширина и wrap нужны для критерия переполнения,
  чтобы при добавлении новых пунктов меню не сломалось */
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-width: 450px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 18px;
  margin: 0 17px;
  /* этот отступ нужен для границы, которая появляется при фокусировке на кнопку */
  margin-top: 2px;
}

.navigation-user {
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-left: auto;
  align-items: center;
  text-align: center;
 }

.navigation-user .navigation-link{
  margin: 0;
  padding:0;
  min-width: 18px;
  min-height: 18px;
  padding: 22px 12px;
  padding-bottom: 20px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 0;
  left: 0;
  margin: auto;
  color: inherit;
}

.navigation-item {
  position: relative;
}

.items-in-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border: none;
  border-radius: 50%;
  top: 13px;
  left: 24px;
  color: #ffffff;
  font-size: 10px;
  line-height: 13px;

}

.navigation-item .button{
  margin-left: 20px;
  padding: 9px 34px 8px;
  border-radius: 4px;
}

/* состояния главное меню */
.navigation-item  .current {
  border-bottom: 2px solid #756257;
  margin-bottom: -1px;
}

.navigation-link:hover {
  color: #756257;
}

/* в стайлгайде написано оставить браузерный стиль, но он некрасиво работает */
.navigation-link:active {
  color: rgb(117, 98, 87, 0.3);
}

.navigation-link:active  .items-in-favorites{
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link:focus-visible,
.main-logo:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
  border-radius: 5px;
  z-index:100;
}

.navigation-item .button:hover {
  background-color: #615048;
}

.navigation-item .button:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.navigation-item .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

/* фон главная страница*/
.welcome {
  background-color: #c8c8c8;
  background-image: url("../images/index-background_divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  /* единственный вариант когда делитель не отрывается от низа контейнера, если указать bottom, то
  при масштабе 10% видны пиксели другой картинки под ним  */
  background-position: 0 428px, top;
  padding-top: 51px;
  padding-bottom: 82px;
 }

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantages-header {
  padding: 63px 240px 80px;
}

.advantages-main-title {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-explanation {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 36px;
}

.advantages-list,
.advantages-item-with-photo,
.advantages-facts-list {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-photo {
  margin: auto 0;
}

.advantages-item-with-photo:nth-child(2n) {
  flex-flow: row-reverse;
}

.advantages-title,
.advantages-number,
.advantages-description,
.advantages-facts-title,
.advantages-facts-description {
  margin: 0;
  padding: 0;
}

.advantages-item-info,
.advantages-facts-item,
.advantages-item {
  width: 400px;
  /* при отсутствии контента (изображения) размер сохранится */
  min-height: 384px;
  box-sizing: border-box;
}

.advantages-item-info,
.advantages-item  {
  padding-top: 98px;
  /* размер при нормальном наполнении определяется высотой блока,
если текста слишком много хочу чтобы он не прилипал к краю контейнера */
  padding-bottom: 10px;
}

.advantages-facts-item {
  position: relative;
  padding: 185px 75px 10px;
}

.advantages-facts-logo {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.advantages-facts-logo-housing {
  width: 75px;
  height: 72px;
  background-image: url("../images/facts-icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(163px, 89px);
}

.advantages-facts-logo-food {
  width: 74px;
  height: 70px;
  background-image: url("../images/facts-icon-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(163px, 91px);
}

.advantages-facts-logo-souvenirs {
  width: 65px;
  height: 76px;
  background-image: url("../images/facts-icon-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(168px, 85px);
}

.advantages-title,
.advantages-facts-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title,
.advantages-number {
  margin-bottom: 29px;
}

.advantages-facts-item .advantages-facts-title {
  margin-bottom: 19px;
}

/* вставим — как декоративный элемент, чтобы убрать его из верстки*/
.advantages-number::before {
  content:"— "
}

.advantages-number::after {
  content:" —"
}

.advantages-description,
.advantages-facts-description {
  font-size: 18px;
  line-height: 21px;
}

/* по правильному нужно задать такие паддиниг для блока advantages-facts-description,
чтобы текс форматировался как в макете, но у него разное форматирование в разных блоках,
в 3 блоке например, "но" можно перенести только <br> поэтому я их добавил во все блоки.
Будем считать это проблемой дизайнера, и отформатируем текст в верстке.
*/

.advantages-item-info {
  padding-left: 90px;
  padding-right: 90px;
}

.advantages-item {
  padding-left: 75px;
  padding-right: 75px;
}

.advantages-list,
.advantages-facts-list {
  background-color:#ffffff;
}

.advantages-item,
.advantages-facts-item {
  color: #000000;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-facts-item:nth-child(2n+1) {
  background-color:rgba(131, 179, 211, 0.12)
}

.advantages-facts-item:nth-child(2n) {
  background-color:#ffffff;
}

.advantages-item-with-photo {
  color: #ffffff;
  background-color:rgba(131, 179, 211, 1);
}

.hotel-search {
  padding: 91px 303px 93px;
}

.hotel-search-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/* на макете после слова Седоне есть пробел, который мешает отформатировать текст как в макете,
из-за этого получаются различия */

.hotel-search-instruction {
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-link {
  display: flex;
  justify-content: center;
  margin:0 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  padding: 15px 15px 9px;
}

/* состояния кнопки */
.hotel-search-link:hover {
  background-color: #615048;
}

.hotel-search-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.hotel-search-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  padding: 94px 200px 94px;
}

.subscribe-title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  margin: 0;
  padding: 0;
}

.subscribe-form .input {
  font-size: 18px;
  line-height: 26px;
  flex-grow: 1;
  padding-left: 22px;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  border: none;
  font: inherit;
}

/* состояния поле ввода данных */
.subscribe-form .input:hover {
  background-color: #E6E6E6
}

.subscribe-form .input:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.subscribe-form .input:invalid {
  outline: none;
  background-color: #ffffff;
  border: 3px solid #FF5757;
}

.subscribe-form .button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 18px 34px;
  padding-bottom: 16px;
  border-radius: 0 10px 10px 0;
}

.subscribe-form .button:hover {
  background-color: #68A2CA
}

.subscribe-form .button:focus-visible {
  outline: 3px solid #756257;
  outline-offset: 0;
}

.subscribe-form .button:active {
 color: rgba(255, 255, 255, 0.3)
}

/* Футер */
.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 72px 40px 72px;
}

/* для переполнения блока */

.footer-social {
  max-width: 130px;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* для  границы первой кнопки пр фокусировании*/
  margin-left: -10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.footer-social-link:nth-child(3n) {
  margin-right: 0;
}

/* состояния соц сети */

.footer-social-link {
  color: #83B3D3;
}

.footer-social-link:hover {
  color: #68A2CA;
}

.footer-social-link:focus-visible{
  color: #68A2CA;
  outline: 3px solid #68A2CA;
  border-radius: 10px;
}

.footer-social-link:active {
  color: rgb(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/* состояния телефон и логотип */
.footer-contacts-phone,
.html-academy-logo {
  color: inherit;
}

.footer-contacts-phone:hover,
.html-academy-logo:hover {
  color: #756257;
}

.footer-contacts-phone:focus-visible,
.html-academy-logo:focus-visible {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-contacts-phone:active,
.html-academy-logo:active {
  color: rgb(117, 98, 87, 0.3);
}

/* модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height:100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 100;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
  border-radius: 30px;
  z-index: 2;
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position:absolute;
  top: 54px;
  right: 70px;
  padding: 0;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  background-color: #F2F2F2;
  cursor: pointer;
}

/* для смены цвета в активном состоянии пришлось добавить как инлайн свг */
.modal-close-button-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* состояния кнопки закрытия модального окна */
.modal-close-button:hover {
  background-color:#E5E5E5;
}

.modal-close-button:focus-visible {
  background-color:#E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.modal-close-button:active {
  color: rgba(0, 0, 0, 0.3)
}

.modal-title {
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
  /* смещение от всей формы влево */
  margin-left: -2px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;

}

.field-group {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 135px 133px 114px 133px;
  column-gap: 20px;
}

.arrival-date-label,
.departure-date-label,
.adults-label {
  font-size: 18px;
  line-height: 40px;
  padding: 5px 0;
  font-weight: 700;
  grid-column: 1 / 2;
  align-self: center;
  word-wrap: break-word;
}

.arrival-date,
.departure-date {
  grid-column: 2 / -1;
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  padding:0 19px;
  margin:0;
  border-radius: 4px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  border: none;
  border-radius: 4px;
  background-color:#F2F2F2;
}

.arrival-date::-webkit-calendar-picker-indicator,
.departure-date::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.arrival-date-info,
.departure-date-info {
  grid-column: 2/-1;
  font-size: 16px;
  line-height: 40px;
  transform: translateY(-6px);
}

.input-wrapper-adults {
  grid-column: 2 / 3;
  display: inline-flex;
  position: relative;
}

.adults,
.children {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 61px;
  padding-right: 45px;
  border: none;
  border-radius: 4px;
  background-color:#F2F2F2;
}

/* убираем стрелочки */
.adults::-webkit-outer-spin-button,
.adults::-webkit-inner-spin-button,
.children::-webkit-outer-spin-button,
.children::-webkit-inner-spin-button  {
  appearance: none;
}

.adults,
.children {
  -moz-appearance: textfield;
}

.children-label-wrapper {
  grid-column: 3 / 4;
  align-self: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-left: 36px;
  padding-right: 32px;
}

.children-label {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  word-wrap: break-word;
}

.tooltip {
  position: absolute;
  top: 9px;
  z-index: 100;
  right: 0;
  top: 50%;
  transform: translateX(1px) translateY(-11px);
}

.tooltip-toggle {
  border: none;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
 }

.tooltip-icon {
  width: 100%;
  color: #ffffff;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 19px 18px 24px 22px;
  border-radius: 10px;
  display: block;
  box-sizing: border-box;
  width: 256px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%) translateX(13px);
  margin-top: 15px;
  display: none;
}

.tooltip-text:before {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  top: -8px;
  left:0;
  right:0;
  margin: 0 auto;
}

/* состояния тултип */
.tooltip-toggle:hover {
  background-color: #68A2CA;
}

.tooltip-toggle:focus,
.tooltip-toggle:focus-visible {
  outline: none;
  background-color: #68A2CA;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.input-wrapper-children {
  grid-column: 4 / -1;
  display: flex;
  position: relative;
}

.icon-minus {
  position: absolute;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  left: 19px;
  top: 50%;
  transform: translateY(-7px);
  color: rgba(0, 0, 0, 0.3);
}

.icon-plus {
  position: absolute;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  right: 19px;
  top: 50%;
  transform: translateY(-7px);
  color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.modal-form .button {
  margin: 0;
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  border-radius: 10px;
}

/* состояния модальное окно */

.arrival-date:hover,
.departure-date:hover,
.adults:hover,
.children:hover {
  background-color: #E6E6E6;
}

.arrival-date:focus-visible,
.departure-date:focus-visible,
.adults:focus-visible,
.children:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.arrival-date:active,
.departure-date:active,
.adults:active,
.children:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  outline-offset: -2px;;
}

/* состояние сообщение об ошибке */
.message-error {
  color: #FF5757;
}


/* состояния кнопки числа людей */
.icon-minus:hover,
.icon-plus:hover {
  color: #000000;
}

.icon-minus:focus,
.icon-plus:focus {
  color: #000000;
  border-radius: 4px;
  outline-offset: 3px;
  outline: 3px solid #68A2CA;
}

.icon-minus:active,
.icon-plus:active {
  border: none;
  color: rgba(0, 0, 0, 0.2);
}

/* состояние кнопка модальное окно*/
.modal-form .button:hover {
  background-color: #68A2CA;
}

.modal-form .button:focus-visible {
  outline: 3px solid #756257;
  outline-offset: 0;
}

.modal-form .button:hover {
  color:rgba(255, 255, 255, 0.3)
}

.modal-container-close {
  display: none;
}

/* основные стили страница  каталога */
.hotels-catalog {
  color:#ffffff;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  padding: 35px 72px 81px 72px;
}

.hotels-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  /* в макете не совсем корректно нарисовано положение текста при высоте строки 78пх,
  поэтому и отступ в другую сторону*/
  margin-bottom: -9px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  margin-bottom: 42px;
  margin-left: 2px;
}

.breadcrumbs-item {
  margin-right: 18px;
  position:relative;
  /* смещения для границы фокуса */
  margin-left: -8px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs-home {
  display: block;
  width: 12px;
  height: 21px;
  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -138px;
}

.breadcrumbs-item:not(:last-child)::after {
  display: block;
  position: absolute;
  top: 10px;
  right: -7px;
  width: 5px;
  height: 8px;
  content:"";
  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -180px;
  opacity: 0.4;
  /* в стайлгайде этой стрелочки нет, при этом она еще и с тенью, стрелку я стащил из макета,
  тень брать не стал, ее все равно не видно совсем, и задал прозрачность для белого */
}

/* состояния хлебных крошек */
.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
  border-radius: 5px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 31px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding:0;
}

.catalog-filter-item {
  margin-bottom: 15px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-group:nth-child(1) {
  max-width: 150px;
  margin-right: 68px;
}

.control-input {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  margin-right: 19px;
}

.control {
  display: inline-flex;
  position: relative;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

/* состояния чекбоксы */
.control-input:hover + .control-mark {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  opacity: 0.6;
  outline: 3px solid #83B3D3;
}

.control-input:active + .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("../images/mark.svg");
  background-repeat: no-repeat;
  background-position: 4px 5px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #3F5E72;
}

.range-wrapper-inputs {
  display: flex;
  padding-top: 4px;
  margin-bottom: 28px;
}

/* убираем стрелочки */
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
}

.range-input{
  -moz-appearance: textfield;
}

.range-input-min,
.range-input-max {
  position:relative;
}

.range-input {
  width: 144px;
  box-sizing: border-box;
  padding: 13px 35px 8px 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: inherit;
  font-size: 18px;
  line-height: 23px;
}

.range-wrapper-inputs .min {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #ffffff;
}

.range-wrapper-inputs .max {
  /* у правого поля ввода другой паддинг и размер, странно конечно*/
  width: 143px;
  padding-left: 15px;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #ffffff;
}

/* у инпут нельзя сделать псевдоэлемент, пришлось добавить обертку и спан в верстку */

.info-text-min,
.info-text-max {
  position: absolute;
  font-size: 18px;
  line-height: 23px;
  right: 14px;
  top: 12px;
  color: #FFFFFF;
  opacity: 0.3;
}

/* оторвать руки тому кто нарисовал разные отступы в этих элементах */
.info-text-max {
  right: 17px;
}

/* состояния полей ввода данных */
.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6)
}

.range-input:focus-visible {
  box-shadow: 0px 0px 0px 3px #81B3D2;
  outline: 3px solid #81B3D2;
  outline-offset: -4px;
}

.range-input:active {
  background-color: #756257;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  height: 4px;
  background-color: rgb(255, 255, 255);
}

.range-toggle {
  position: relative;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.toggle-min {
  top: -15px;
  left: 0;
}

.toggle-max {
  top: -15px;
  left: 191px;
}

/* состояния ползунков */
.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  outline-offset: 0;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.catalog-filter-group:nth-child(2) {
  max-width: 160px;
  margin-right: 168px;
}

.catalog-filter-group:nth-child(3) {
  max-width: 288px;
  margin-right: 81px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
}

.catalog-filter-buttons .button {
  margin-top: 61px;
  padding: 13px 35px 15px;
  margin-bottom: 15px;
}

.catalog-filter-buttons .button[type="reset"] {
  margin: 0;
  padding: 4px 35px 3px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
  background: none;
}

/* состояния кнопки фильтра */
.catalog-filter-buttons .button:hover {
  background-color: #68A2CA;
}

.catalog-filter-buttons .button:focus-visible {
  outline: 3px solid #ffffff;
  outline-offset: 0px;
}

.catalog-filter-buttons .button:active {
  color:rgba(255, 255, 255, 0.3)
}

.catalog-filter-buttons .button[type="reset"]:hover {
  background: none;
  opacity: 0.3;
}

.catalog-filter-buttons .button[type="reset"]:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0px;
}

.catalog-filter-buttons .button[type="reset"]:active {
  color:rgba(255, 255, 255, 0.3)
}

/* Результаты поиска */

.catalog-hotel-search {
  padding: 44px 72px 0px;
}

.sorting {
  display: flex;
  margin-bottom: 53px;
}

.sorting-results-heading {
  margin: 0;
  margin-left: -1px;
  padding: 4px 0 6px;
  font-family: inherit;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  margin-right:auto;
}

.select-wrapper {
  position: relative;
  display: flex;
}

.sorting-control {
  width: 287px;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 40px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  appearance: none;
  cursor: pointer;
}

.select-wrapper::after {
  display: block;
  position: absolute;
  top: 20px;
  right: 17px;
  width: 20px;
  height: 10px;
  content:"";
  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -120px;
  opacity: 0.3;
}

/* состояния для сортировки */
.sorting-control:hover,
.sorting-control:focus-visible{
  border: 2px solid #83B3D3;
  outline: none;
}

.sorting-control:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.sorting-buttons-group {
  display: flex;
  margin-left: 81px;
}

.sorting-buttons-group .button {
  display: inline-block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color:#ffffff;
  background-repeat: no-repeat;
}

.sorting-buttons-group .button:last-child {
  margin-right: 0;
}

.small-icons {
  display:block;
  width: 16px;
  height: 14px;
  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -264px;
}

.big-icons {
  display:block;
  width: 16px;
  height: 14px;
  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -228px;
}

.list-with-info {
  display:block;
  width: 16px;
  height: 14px;
  background-image: url("../images/interface.svg");
  background-repeat: no-repeat;
  background-position: -192px;
}

/* состояния для кнопок сортировки */
.sorting-buttons-group .button{
  border: 2px solid #E6E6E6;;
  border-radius: 4px;
}

.sorting-buttons-group .current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.sorting-buttons-group .button:hover,
.sorting-buttons-group .button:focus-visible  {
  border: 2px solid #83B3D3;;
  border-radius: 4px;
  outline: none;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 10px;
  margin-bottom: 33px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
}


.hotel-card-image-link,
.hotel-card-title-link {
  text-decoration: none;
  color: inherit;
}

.hotel-card-image {
  display:block;
  object-fit: contain;
}

/* состояния для картинки карточки */
.hotel-card-image-link:hover {
  opacity: 0.6;
}

.hotel-card-image-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.hotel-card-image-link:active {
  opacity: 0.3;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin: 16px 0;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-information {
  margin-top: auto;
  display: grid;
  grid-template-columns: 133px 141px;
  column-gap: 26px;
  row-gap: 16px;
  margin-bottom: 16px;
}

.hotel-card-information-about,
.hotel-card-information-favorites {
  font-size: 16px;
  line-height: 21px;
  padding: 8px 0;
}

/* состояния кнопок карточки отеля коричневая кнопка*/
.hotel-card-information .button-brown:hover {
  background-color: #615048;
}

.hotel-card-information .button-brown:focus-visible {
  outline-offset: 0;
  outline: 3px solid #83B3D3;
}

.hotel-card-information .button-brown:active {
  color: rgb(255, 255, 255, 0.3)
}

/* состояния кнопок карточки отеля синяя кнопка*/
.hotel-card-information .button-light-blue:hover {
  background-color: #68A2CA;
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.hotel-card-information .button-light-blue:focus-visible {
  background-color: #68A2CA;
  outline-offset: 0;
  outline: 3px solid #756257;
}

.hotel-card-information .button-light-blue:active {
  background-color: #68A2CA;
  outline: 1px solid #756257;
  outline-offset: -1px;
  color: rgb(255, 255, 255, 0.3)
}

/* состояния кнопок карточки отеля зеленая кнопка*/
.hotel-card-information .button-green:hover {
  background-color: #6C9E42;
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.hotel-card-information .button-green:focus-visible {
  background-color: #6C9E42;
  outline-offset: 0;
  outline: 3px solid #756257;
}

.hotel-card-information .button-green:active {
  background-color: #6C9E42;
  outline: 1px solid #756257;
  outline-offset: -1px;
  color: rgb(255, 255, 255, 0.3)
}

.hotel-card-ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-stars {
  margin: 0;
  padding: 0;
  background-image: url("../images/star.svg");
  /* (Ширина звезды 17px + отступ между звездами 8px = 25px) */
  background-size: 25px 17px;
  background-repeat: repeat-x;
  /* ставим на минус половину отступа -(8 / 2) = -4px по горизонтали */
  background-position: -4px center;
  height: 17px;
}

/*
  5 звезд = 5*25px-8px = 117px
  4 звезды = 4*25px-8px = 92px
  3 звезды = 3*25px-8px = 67px
  2 звезды = 2*25px-8px = 42px
  1 звезда = 1*25px-8px = 17px
*/

.hotel-stars-5 {width: 117px;}
.hotel-stars-4 {width: 92px;}
.hotel-stars-3 {width: 67px;}
.hotel-stars-2 {width: 42px;}
.hotel-stars-1 {width: 17px;}

.hotel-rating {
  display: block;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 8px 32px;
}

.load-more{
  padding: 30px 218px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
}

.load-more .button{
  font-size: 20px;
  line-height: 26px;
  padding: 17px;
}

/* состояния кнопка загрузить еще, по макету на задана */
.load-more button:hover {
  background-color: #68A2CA;
}

.load-more button:focus-visible {
  background-color: #68A2CA;
  outline-offset: 0;
  outline: 3px solid #756257;
}

.load-more button:active {
  color: rgba(255, 255, 255, 0.3)
}

.sorting-pagination {
  display: flex;
  align-items: center;
}

.pagination {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

/* состояния пагинация  */

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.pagination-item .current {
  color: #000000;
  background-color: #f2f2f2;
  cursor: default;
}

.hotels-on-page {
  margin-left: auto;
  font-size: 18px;
  line-height: 23px;
  /* на макете текст не по центру строки */
  padding-bottom: 2px;
}

/* аналогичная стрелочка как в фильтре отелей, положение отличается */
.sorting-pagination .select-wrapper::after {
  top: 22px;
}

.hotels-on-page-control {
  font: inherit;
  font-size: 18px;
  line-height: 23px;
  box-sizing: border-box;
  width: 160px;
  padding: 10px 40px 11px 15px;
  margin: 3px 0 4px 51px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

/* состояния отелей на странице */
.hotels-on-page-control:hover,
.hotels-on-page-control:focus-visible{
  border: 2px solid #83B3D3;
  outline: none;
}

.hotels-on-page-control:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.subscribe-hotels {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding: 73px 200px 141px;
}

.subscribe-hotels .subscribe-title {
  margin-bottom: 46px;
}

.subscribe-hotels .input {
  background: #f2f2f2;
}
