@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.button-brown {
  background-color: #756257;
}

.button-light-blue {
  background-color: #83B3D3;
}

.button-green {
  background-color: #7DB54F;
}
.button-no-color {
  background-color:rgba(0, 0, 0, 0);
}

html {
  background-color:#f2f2f2;
  height: 100%;
  padding: 0 20px;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  margin: 0;
  padding: 0 70px;
}

.navigation {
  display:flex;
}

.main-logo {
  display: flex;
  align-items: center;
  width: 139px;
  margin-right: 30px;
      /* лого накладывается на следующий блок  */
  margin-bottom: -5px;
  z-index: 100;
}

.navigation-list {
    /* максимальная ширина и wrap нужны для критерия переполнения,
  чтобы при добавлении новых пунктов меню не сломалось */
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-width: 450px;
}

/* при переполнении меню элементы новой строки будут равномерно делить пространство,
или занимать всю строку если элемент только один */
.navigation-item {
  flex-grow: 1;
}

.navigation-link {
  display: block;
  padding: 0;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 20px 17px;
}

.navigation-user {
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-left: auto;
  align-items: center;
  text-align: center;
}

.navigation-user .navigation-link{
  min-width: 18px;
  min-height: 18px;
}

.navigation-item .button{
  padding: 9px 34px 8px;
  border-radius: 4px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

/* фон главная страница*/
.welcome {
  background-image: url("../images/index-background_divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  /* единственный вариант когда делитель не отрывается от низа контейнера, если указать bottom, то
  при масштабе 10% видны пиксели другой картинки под ним  */
  background-position: 0 428px, top;
  background-color: #c8c8c8;
  padding-top: 51px;
  padding-bottom: 82px;
 }

.welcome-logo {
  display: block;
  margin: 0 auto;
}


.advantages-header {
  padding: 63px 240px 80px;
}

.advantages-main-title {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-explanation {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 36px;
}

.advantages-list,
.advantages-item-with-photo,
.advantages-facts-list {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-photo {
  margin: auto 0;
}

.advantages-item-with-photo:nth-child(2n) {
  flex-flow: row-reverse;
}

.advantages-title,
.advantages-number,
.advantages-description,
.advantages-facts-title,
.advantages-facts-description {
margin: 0;
padding: 0;
}

.advantages-item-info,
.advantages-facts-item,
.advantages-item {
  width: 400px;
  /* при отсутствии контента (изображения) размер сохранится */
  min-height: 384px;
  box-sizing: border-box;
}

.advantages-item-info,
.advantages-item  {
  padding-top: 98px;
  /* размер при нормальном наполнении определяется высотой блока,
если текста слишком много хочу чтобы он не прилипал к краю контейнера */
  padding-bottom: 10px;
}


.advantages-facts-item {
  padding: 185px 75px 10px;
}

.advantages-facts-item .advantages-facts-title {
  margin-bottom: 20px;
}

.advantages-title,
.advantages-facts-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-number {
  margin-bottom: 30px;
}

 .advantages-description,
 .advantages-facts-description {
  font-size: 18px;
  line-height: 21px;
 }

.advantages-item-info {
  padding-left: 90px;
  padding-right: 90px;
}

.advantages-item {
  padding-left: 75px;
  padding-right: 75px;
}

.advantages-list,
.advantages-facts-list {
  background-color:#ffffff;
}

.advantages-item,
.advantages-facts-item {
  color: #000000;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-facts-item:nth-child(2n+1) {
  background-color:rgba(131, 179, 211, 0.12)
}

.advantages-facts-item:nth-child(2n) {
  background-color:#ffffff;
}

.advantages-item-with-photo {
  color: #ffffff;
  background-color:rgba(131, 179, 211, 1);
}

.hotel-search {
  padding: 90px 303px 92px;
}

.hotel-search-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-instruction {
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-link {
  display: flex;
  justify-content: center;
  margin:0 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  padding: 15px 15px 10px;
 }

.subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  padding: 93px 200px 92px;
}

.subscribe-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  margin: 0;
  padding: 0;
}

.subscribe-form .input {
  font-size: 18px;
  line-height: 26px;
  flex-grow: 1;
  padding-left: 22px;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  border: none;
}

.subscribe-form .button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 17px 34px;
  border-radius: 0 10px 10px 0;
}

/* Футер */

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 72px;
}

/* для переполнения блока */
.footer-social {
  max-width: 150px;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  /* отступ снизу нужен для отступ между элементами при переполнении, когда получается несколько рядов */
  margin-bottom: 5px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

/* основные стили страница  каталога */

.hotels-catalog {
color:#ffffff;
background-color: #000000;
background-image: url("../images/catalog-background.jpg");
background-repeat: no-repeat;
padding: 35px 71px 79px;
}

.hotels-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  /* в макете не совсем корректно нарисовано положение текста при высоте строки 78пх,
  поэтому и отступ в другую сторону, думаю макет поправят */
  margin-bottom: -7px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  margin-bottom: 45px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  padding-right: 10px;
}

.breadcrumbs-link:last-child {
  padding-right: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding:0;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-group:nth-child(1) {
  max-width: 150px;
  margin-right: 60px;
}

.control-input {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  margin-right: 19px;
}

.control {
  display: inline-flex;
}

.catalog-filter-group:nth-child(2) {
  max-width: 160px;
  margin-right: 170px;
}

.catalog-filter-group:nth-child(3) {
  max-width: 287px;
  margin-right: auto;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
}

.catalog-filter .button {
  margin-top: 61px;
  padding: 14px 35px 13px;
  margin-bottom: 18px;
}

.catalog-filter .button:last-child {
  margin: 0;
  padding: 4px 35px 3px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
}

/* Результаты поиска */

.catalog-hotel-search {
  padding: 44px 72px 0px;
}

.sorting {
  display: flex;
  margin-bottom: 53px;
}

.sorting-results-heading {
  margin: 0;
  padding: 4px 0 6px;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  margin-right:auto;
}

.sorting-control {
  width: 287px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
}

.sorting-buttons-group {
  display: flex;
}

.sorting-buttons-group .button {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.sorting-buttons-group .button:last-child {
  margin-right: 0;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 10px;
  margin-bottom: 33px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
}

.hotel-card-image-link,
.hotel-card-title-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-grow: 1;
}

.hotel-card-image {
  display:block;
  margin-bottom: 16px;
  object-fit: contain;
}

.hotel-card-title {

  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin-bottom: 16px;

}

.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-information {
  display: grid;
  grid-template-columns: 133px 141px;
  column-gap: 26px;
  row-gap: 16px;
  margin-bottom: 16px;
}

.hotel-card-information-button {
  font-size: 16px;
  line-height: 21px;
  padding: 8px 0;
}

.hotel-card-ratings {
  display: flex;
  justify-content: space-between;
}

.hotel-rating {
  display: block;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 8px 32px;
}

.load-more{
  padding: 30px 218px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
}

.load-more .button{
  font-size: 20px;
  line-height: 26px;
  padding: 17px;
}

.sorting-pagination {
  display: flex;
}

.pagination {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  padding: 15px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;;
}

.hotels-on-page {
  margin-left: auto;
  font-size: 18px;
  line-height: 23px;
}

.hotels-on-page-control {
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  margin-left: 47px;
  padding: 12px;
  padding-top: 14px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscribe-hotels {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding: 73px 200px 143px;
}

.subscribe-hotels .subscribe-title {
  margin-bottom: 46px;
}

.subscribe-hotels .input {
  background: #f2f2f2;
}
